<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quản Lý Bán Hàng</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css" />
  </head>
  <body>
    <header class="container">
      <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">LOGO</a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#"
                  >Trang chủ</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="product_cart.html"
                  >Giỏ hàng</a
                >
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <div class="container">
      <div class="row mt-5">
        <div class="col-md-9">
          <div class="card">
            <div class="card-header">
              <h5 class="card-title">Giỏ hàng</h5>
            </div>
            <table class="table align-middle mb-0">
              <thead>
                <tr>
                  <th style="width: 100px">Ảnh</th>
                  <th>Sản phẩm</th>
                  <th>Đơn giá</th>
                  <th>Số lượng</th>
                  <th>Thành tiền</th>
                  <th>Hành động</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <img
                      class="w-100"
                      src="../upload/product/iphone-15-pro-max-512GB-650x650.png"
                      alt=""
                    />
                  </td>
                  <td>Iphone 15 Pro Max 512GB</td>
                  <td>29.990.000</td>
                  <td>2</td>
                  <td>59.980.000</td>
                  <td>
                    <button type="button" class="btn btn-warning">Xóa</button>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="card-footer">Tổng 2 sản phẩm</div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card">
            <div class="card-header">
              <h5 class="cart-title">Hóa đơn</h5>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-6">Tổng tiền:</div>
                <div class="col-6 text-end">
                  <strong>59.980.000</strong>
                </div>
              </div>
              <div class="row">
                <div class="col-6">Giao hàng:</div>
                <div class="col-6 text-end">
                  <strong>32.000</strong>
                </div>
              </div>
              <div class="row">
                <div class="col-6">Khuyễn mãi</div>
                <div class="col-6 text-end">
                  <input
                    type="text"
                    class="form-control"
                    name=""
                    id=""
                    value="FREESHIP"
                  />
                  <strong>-32.000</strong>
                </div>
              </div>
              <div class="row">
                <div class="col-6">Thanh toán:</div>
                <div class="col-6 text-end">
                  <strong>59.980.000</strong>
                </div>
              </div>
            </div>
            <button
              class="btn btn-primary btn-lg w-80 d-block m-3"
              data-bs-toggle="modal"
              data-bs-target="#exampleModal"
            >
              Đặt hàng
            </button>
          </div>
        </div>
      </div>
      <div
        class="modal fade"
        id="exampleModal"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">
                Xác nhận đơn hàng
              </h1>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <form>
                <div class="mb-3">
                  <label for="exampleInputName" class="form-label"
                    >Họ tên</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="exampleInputName"
                    aria-describedby="emailHelp"
                  />
                </div>
                <div class="mb-3">
                  <label for="exampleInputPhone" class="form-label"
                    >Số điện thoại</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="exampleInputPhone"
                    aria-describedby="emailHelp"
                  />
                </div>
                <div class="mb-3">
                  <label for="exampleInputAdd" class="form-label"
                    >Địa chỉ</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="exampleInputAdd"
                    aria-describedby="emailHelp"
                  />
                </div>
              </form>
            </div>
            <div class="modal-footer m-auto">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                Đóng
              </button>
              <button type="button" class="btn btn-primary">Xác nhận</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="../js/bootstrap.bundle.js"></script>
  </body>
</html>
