<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css" />
    <link rel="stylesheet" href="../css/test.css" />
  </head>
  <body>
    <div class="container mt-2 mb-5 p-5">
      <div class="row">
        <div class="col-md-3 mt-5">
          <div class="card_">
            <img
              src="../upload/product/iphone-15-pro-max-512GB-650x650.png"
              alt=""
              class="img_ card__img"
            />

            <div class="card__data">
              <h1 class="card__title">Nike Air Jordan</h1>
              <span class="card__preci">$99</span>
              <p class="card__description">
                Nike Air Jordan Footwear basketball sneakers.
              </p>
              <a href="#" class="card__button">Buy Now</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="../js/bootstrap.bundle.js"></script>
  </body>
</html>
